body {
  margin: 0;
}

.canvas {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.ui-canvas {
  background: #333333;
}

.ui-table td {
  vertical-align: middle !important;
}

.alarm {
  text-align: center;
  font-size: 16px;
}
